version: "3"

services:

  cloudflared:
    container_name: cloudflared
    image: visibilityspots/cloudflared:alpine-3.13
    restart: unless-stopped
    # ports:
    #   - "${CF_PORT}:${CF_PORT}/tcp"
    #   - "${CF_PORT}:${CF_PORT}/udp"
    environment:
      TZ: ${TZ}
      ADDRESS: "0.0.0.0"
      PORT: "${CF_PORT}"
    networks:
      pihole_net:
        ipv4_address: ${IP_CF}

  dnsproxy:
    container_name: dnscrypt-proxy
    image: gists/dnscrypt-proxy:2.0.45
    restart: unless-stopped
    # ports:
    #   - "${DCRYPT_PORT}:${DCRYPT_PORT}/udp"
    #   - "${DCRYPT_PORT}:${DCRYPT_PORT}/tcp"
    volumes:
      - './dnscrypt-proxy.toml:/etc/dnscrypt-proxy/dnscrypt-proxy.toml'
    networks:
      pihole_net:
        ipv4_address: ${IP_DCRYPT}

  pihole:
    container_name: pihole
    image: pihole/pihole:2021.10
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
    environment:
      TZ: ${TZ}
      WEBPASSWORD: '${PIHOLE_PASSWORD}'
      ServerIP: '${IP_PIHOLE}'
      DNS1: '${IP_DCRYPT}#${DCRYPT_PORT}'
      DNS2: '${IP_CF}#${CF_PORT}'
      IPv6: 'true'
      DNSMASQ_LISTENING: 'all'
    networks:
      pihole_net:
        ipv4_address: ${IP_PIHOLE}
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    dns:
      - 127.0.0.1
      - 1.1.1.1
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

networks:
  pihole_net:
    driver: bridge
    name: pihole_net
    ipam:
     config:
       - subnet: ${IP_RANGE}
